<!doctype html>
<html lang="en" ng-app="LunchCheck">
  <head>
    <title>Lunch Checker</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="styles/bootstrap.min.css">
    <style>
      .message { font-size: 1.3em; font-weight: bold; }
      body {
        background-image: url("img/lunchChecker.jpg");
        background-repeat: no-repeat;
        background-size: 100%;
      }
      .container{
        margin-top: 40px;
      }
    </style>
  </head>
<body>
   <div class="container" ng-controller="LunchCheckController">
     <h1 style="color:#008080;">Lunch Checker</h1>

         <div class="form-group">
             <input
             ng-model="menu"
             ng-style="border_color"
             id="lunch-menu"
             type="text"
             placeholder="list comma separated dishes you usually have for lunch"
             class="form-control">
         </div>
         <div class="form-group" style="color:#cc0605;">
           {{exception_message}}
         </div>
         <div class="form-group">
             <button ng-click="displayMessage();" class="btn btn-info">Check If Too Much</button>
         </div>
         <div class="form-group message" ng-style="text_color">
           {{message}}
         </div>
   </div>
   <script src="angular.min.js"></script>
   <script src="app.js"></script>
</body>
</html>
